@import "src/styles/vars";

.app-page {
  background-color: $backgroundColor;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recipe-link {
  background-color: $blue;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  min-width: 10rem;
}