@import "src/styles/vars";

.nav-bar {
    background-color: $secondaryColor;
    min-height: 45px;
    display: flex;
    flex-direction: row;
    min-height: 10vh;

    a {
        flex: 1;
        margin: auto 3rem;
    }
}

.app-logo {
    height: 10vh;
}